global
    maxconn 100000
    nbthread 4
    no log

defaults
    mode tcp
    timeout connect 5s
    timeout client  60s
    timeout server  60s
    no log

frontend http_front
    bind *:8000
    default_backend node_b_cluster

backend node_b_cluster
    balance roundrobin
    option tcp-check
    server node-b-1 node-b-1:8080 check inter 2s
    server node-b-2 node-b-2:8080 check inter 2s
    server node-b-3 node-b-3:8080 check inter 2s
